#professionalsBar{
    height: 514px;
    display: block; 
    box-sizing: border-box;
}
#professionalsTable{
    height: 500px;
    display: block; 
    box-sizing: border-box;
}
#cityDoughnut{
    height: 300px;
    display: block; 
    box-sizing: border-box;
}

#professionalsCount{
    height: 190px;
    display: block; 
    box-sizing: border-box;
}
#targetRegistration{
    height: 190px;
    display: block;
    box-sizing: border-box;
}